<!--=============== REMIXICONS ===============-->

{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}





<body>


    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
<!--==================== ABOUT ====================-->
<section class="about section" id="about">
  <div class="about__container container-1 grid">
    <h2 class="section__title-1">
      <span>About Me.</span>
    </h2>

    <div class="about__perfil">
      <div class="about__image">
        <img class="aboutimg"src="https://images.unsplash.com/photo-1577565177023-d0f29c354b69?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3Njk4OTB8&ixlib=rb-4.0.3&q=85" alt="image" >

        <div class="about__shadow"></div>

        <div class="geometric-box"></div>

        <a href="/admin">  <div class="about__box"></div></a>
      </div>
    </div>

    <div class="about__info">
      <p class="responsive-340">
        We strictly recommend you to please visit and browse this site on your own risk. All the information available here is strictly for informational purposes and based on astrology and numerology calculations. We are no way associated or affiliated with any illegal Matka or gambling business.
                We abide by rules and regulations of the regions where you are accessing the website.
                May be it is illegal or banned in your region. If you are using our website despite ban, you will be solely responsible for the damage or loss occurred or legal action taken.
                Please leave our website immediately if you dont like our disclaimer.
                Copying any information / content posted on the website is strictly prohibited and against the law.
      </p>

      <!-- <ul class="about__list">
        <li class="about__item">
          <b>My Skills Are:</b> HTML, CSS, JavaScript,
          React, Git & GitHub, Bootstrap, Flutter &
          Figma.
        </li>
      </ul> -->
      <br><br>
      <div class="about__buttons">
        <a href="#contact" class="button">
          <i class="ri-send-plane-line"></i> Contact Me
        </a>

        <a href="https://www.linkedin.com/" target="_blank" class="button__ghost">
          <i class="ri-linkedin-box-line"></i>
        </a>
      </div>
    </div>
  </div>
  <br>
<br>
<br><br><br>
</section>


</body>

{% endblock body %}
<!-- @media(max-width:830px){

  .aboutimg {
    display: block;
    max-width: 70%;
    height: auto;
    width: 300px;
    zoom: 90%;
  }
  .about__shadow {
    width: 100px;
    height: 385px;
    background-color: white;
    top: -2.5rem;
    left: 7rem;
    border-bottom: 4px solid var(--first-color);
    transition: background-color 0.4s;
  }
  .about__box {
    width: 36px;
    height: 36px;
    left: 8.75rem;
  }

  
.about__perfil .geometric-box {
  top: 1.5rem;
  right: 5.8rem;
}
} -->
