

{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}















<body class="section-dark">
  

      <div class="from-div">
    <div class="wrapper-1">
      <div class="page-header">
          <!-- <div class="filter"></div> -->
<div>
     <div class="form-popup-bg-1">
            <div class="form-container-1">
           
              <h1 class="text-shadow">Contact Us</h1>
              <h6 class="text-shadow-1">For more information. Please complete this form.</h6>
              <br>
              <form action="">
                <div class="form-group">
                  <label for="" class="text-shadow-1">Name</label>
                  <input type="text" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="" class="text-shadow-1">Company Name</label>
                  <input class="form-control" type="text" required />
                </div>
                <div class="form-group">
                  <label for="" class="text-shadow-1">E-Mail Address</label>
                  <input class="form-control" type="text" required/>
                </div>
                <div class="form-group">
                  <label for="" class="text-shadow-1">Phone Number</label>
                  <input class="form-control" type="text" required/>
                </div>
                <br>
                <button class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
      </div>
          <div class="moving-clouds" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png'); ">

          </div>
    </div>
</div>


<br><br><br><br><br> <br><br>



</div>


</div>
      
</body>


{% endblock body %}

