{% extends 'layout.html' %} 
{% block title %} {{title}} {% endblock title %} 
{% block body %}

<body style="background-color: black;">
    <br><br>

    <h2 style="background-color: rgb(210, 123, 10); text-shadow: 2px 2px 2px black;text-align: center;" id="GoaNight">GOA NIGHT</h2>
    <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
		<tbody>

	<h3 class="center t-h2 date">Date Baby</h3>
		  <tr class="slot">
			<td>09:45 PM
			</td>
			<td>11:35 PM</td>
			
		  </tr>
		  
		  <tr class="result">
			<td >
				ug
                <br>
			
				uu
			
		
			
				
			</td>
			
			<td >
			vngv
			<br>
				
			bghg
			

			jj
			</td>
			
		  </tr>
		
		</tbody>
	
	  </table>
	 
<br><br>

<h2 style="background-color: rgb(210, 123, 10); text-shadow: 2px 2px 2px black; text-align: center;" id="GoaMatka">GOA MATKA</h2>
<h3 class="center t-h2 date">Date Baby</h3>
    <table class="tg" cellpadding="2" >
        <tbody>
          <tr class="slot">
            <td>10:00 AM</td>
            <td>11:00 AM</td>
            <td>12:00 PM</td>
            <td>01:00 PM</td>
            <td>02:00 PM</td>
            <td>03:00 PM</td>
            <td>04:00 PM</td>
            <td>05:00 PM</td>
            <td>06:00 PM</td>
            <td>07:00 PM</td>
          </tr>
          <tr class="result">
            <td >
             ht
                  <br>
              gg
          

            </td>

            <td >
                ht
                     <br>
                 gg
             
   
               </td>
               <td >
                ht
                     <br>
                 gg
             
   
               </td>
               <td >
                ht
                     <br>
                 gg
             
   
               </td>
               <td >
                ht
                     <br>
                 gg
             
   
               </td>

            <td >
           jj
                  <br>
                 jk
         
           
            </td>
            <td >
             jjj
               
                  <br>
                  jk
          
       
            </td>

            <td >
                jjj
                  
                     <br>
                     jk
             
          
               </td>
               <td >
                jjj
                  
                     <br>
                     jk
             
          
               </td>
               <td >
                jjj
                  
                     <br>
                     jk
             
          
               </td>
          
             </tr>
             
          </tr>
        </tbody>
      </table>









    
</body>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock body %}
