{% extends 'layout.html' %} 
{% block title %} {{title}} {% endblock title %} 
{% block body %}

<body style="background-color: black;">
    <br><br>

    <h2 style="background-color: rgb(210, 123, 10); text-shadow: 2px 2px 2px black;text-align: center;" id="GoaNight">GOA NIGHT</h2>
    {% for night in night_results %}
      {% if night %}
      <table class="tg" cellpadding="2" style="border-color: aliceblue;" >
        <tbody>
    
      <h3 class="center t-h2 date">{{night.date}}</h3>
          <tr class="slot">
            <td>09:45 PM</td>
            <td>11:35 PM</td>
          </tr>
          
          <tr class="result">
            <td>{{night.open_3}}<br>{{night.open_1}}</td>
            <td>{{night.close_3}}<br>{{night.close_1}}</td>
          </tr>
        </tbody>
        </table>
      {% endif %}
    {% endfor %}
	 
<br><br>

<h2 style="background-color: rgb(210, 123, 10); text-shadow: 2px 2px 2px black; text-align: center;" id="GoaMatka">GOA MATKA</h2>
{% for matka in matka_results %}
<h3 class="center t-h2 date">{{matka.date}}</h3>
<table class="tg" cellpadding="2" >
    <tbody>
      <tr class="slot">
        <td>10:00 AM</td>
        <td>11:00 AM</td>
        <td>12:00 PM</td>
        <td>01:00 PM</td>
        <td>02:00 PM</td>
        <td>03:00 PM</td>
        <td>04:00 PM</td>
        <td>05:00 PM</td>
        <td>06:00 PM</td>
        <td>07:00 PM</td>
      </tr>
      <tr class="result">
        <td>{% if matka.slot_1_1 %}{{matka.slot_1_3}}<br>{{matka.slot_1_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_2_1 %}{{matka.slot_2_3}}<br>{{matka.slot_2_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_3_1 %}{{matka.slot_3_3}}<br>{{matka.slot_3_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_4_1 %}{{matka.slot_4_3}}<br>{{matka.slot_4_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_5_1 %}{{matka.slot_5_3}}<br>{{matka.slot_5_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_6_1 %}{{matka.slot_6_3}}<br>{{matka.slot_6_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_7_1 %}{{matka.slot_7_3}}<br>{{matka.slot_7_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_8_1 %}{{matka.slot_8_3}}<br>{{matka.slot_8_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_9_1 %}{{matka.slot_9_3}}<br>{{matka.slot_9_1}}{% else %}***<br>*{% endif %}</td>
        <td>{% if matka.slot_10_1 %}{{matka.slot_10_3}}<br>{{matka.slot_10_1}}{% else %}***<br>*{% endif %}</td>
      </tr>
    </tbody>
  </table>
{% endfor %}  
</body>
<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock body %}
