{% extends 'layout.html' %} 
{% block title %} {{title}} {% endblock title %} 
{% block body %}

<body style="background-color: black;">
    <div class="col-xxl-6 col-xl-7 col-lg-8 ms-xl-0 me-xl-0 ms-auto me-auto order-xl-1">
        <div class="banner-content">
            <h1 class="font-sec white ">
                <span class="color-sec">Unlock</span> limitless earnings! Join our exclusive  <span class="color-primary">casino</span> 
                <span class="color-primary">affiliate</span>  program today<span class="color-primary">.</span>
            </h1>
            <p class="text-18">
                Online gambling involves betting or playing games of chance on the internet, including casino games, sports betting, and poker. 
                It offers convenience and accessibility but also carries the risk of addiction and financial loss.
            </p>
            <div class="display-button">
                <a href="#GoaNight" class="cus-btn btn btn-warning">Goa Night</a>
                <a href="#GoaMatka" class="cus-btn-1 btn btn-outline-warning">Goa Matka</a>
            </div>
           
        </div>
    </div>










    
</body>

{% endblock body %}